@import '~bootstrap/scss/bootstrap';

.cardImg {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.imgBoxIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 10rem;

}

.imgBoxShow {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.indexList {
    list-style: none;
}

.indexListItem {
    font-size: 12px;
    font-weight: 800;
}

.info-btn {
    color: rgb(20, 13, 235);
}

#card {
    padding: 5px;
}