@import '~bootstrap/scss/bootstrap';

.cardImg {
    width: 100%;
    // object-position: 50% 50%;


}

.imgBoxIndex {
    width: 100%;
    height: 7rem;
    overflow: hidden;

}

.indexList {
    list-style: none;
}

.indexListItem {
    font-size: 12px;
    font-weight: 800;
}

.info-btn {
    color: rgb(20, 13, 235);
}

#card {
    padding: 5px;
}